
#control {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
}

#control1 {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  border: none;
}

.navbar-default {
    background-color: #4682B4;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white; /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
        a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #7DA7CA;
}





